body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  padding:2rem;
      background: #202123cf;
    min-height: calc(100vh - 86px);
}
.price_part{
     display: flex;
    align-items: center;
    justify-content: space-between;
}
.price_part span{
  font-weight: bold;
}
.price_part strike{
    margin-right: 15px;
    font-weight: 400;
    color:red;
}
.card-text,.card-title{
  min-height: 48px;
}
.product_list{
   grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.current_price{
  font-size: 1.5rem;
}
.cart{
  font-size: 24px;
}
sup {
    top: -1.5em;
    right: -2.1em;
    font-weight: 300;
}

.basket_list{
 user-select: none;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin:15px 0;
       padding:0 2rem;
}
.basket_list  .list-group-item{
max-width: 230px;
}

.modal_basket{
  position: fixed;
    top: 50%;
    max-width: 90%;
    left: 50%;
    width: fit-content;
    z-index: 2;
    background: gray;
 max-height: 95vh;
    overflow-y: scroll;
 transform: translate(-50%, -50%);
    animation:show 500ms ease-in-out;
}

.close_btn{
  cursor: pointer;
}

@keyframes show {
  from {
    left: 0%;
    opacity: 0;
  }
  top {
    left:50%;
    opacity: 1;
  }
}